---
// Component Imports
import nightwind from "nightwind/helper";
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogPostPreview from '../../components/BlogPostPreview.astro';

const title = 'Example Blog';
const permalink = 'https://example.com/';
const description = 'The perfect starter for your perfect blog.';

const allPosts = Astro.fetchContent('./*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
---
<html>
  <!-- <head>
    <link rel="stylesheet" href="/global.css">
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />

    <script dangerouslySetInnerHTML={{ __html: nightwind.init() }} />
  </head> -->

  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content text-red-700">
        <section class="intro">
          <h1 class="latest">{title}</h1>
          <p>{description}</p>
        </section>
        <section>
          {allPosts.map(p => <BlogPostPreview post={p} />)}
        </section>
      </article>
    </div>
  </body>
</html>
